<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="row form-group">
    <div class="col-12 col-sm-6 col-md-4 mt-4 mt-sm-3 mt-md-0">
      <app-input label="Username *" formControlName="username" class="form-control" type="text"
        [ngClass]="{ 'is-invalid': submitted && form.username.errors }">
      </app-input>
      <app-invalid-feedback [formItem]="form.username" validation="required" [submitted]="submitted"
              message="O Campo Username é obrigatório!"></app-invalid-feedback>
    </div>
    <div class="col-12 col-sm-6 col-md-4 mt-4 mt-sm-3 mt-md-0">
      <app-dropdown label="Profiles *" [toggleAll]="true" [filter]="true" formControlName="authorities" class="form-control" propertyBind="id" 
                    [options]="(authorities | async)" type="multi"
                    [ngClass]="{ 'is-invalid': submitted && form.authorities.errors }" [loading]="!(authorities | async)">
      </app-dropdown>
      <app-invalid-feedback [formItem]="form.authorities" validation="required" [submitted]="submitted"
              message="O Campo Profiles é obrigatório!"></app-invalid-feedback>
    </div>
    <div class="col-12 col-sm-6 col-md-4 mt-4 mt-sm-3 mt-md-0">
      <app-input label="Password *" formControlName="password" class="form-control" type="password"
        [ngClass]="{ 'is-invalid': submitted && form.password.errors }">
      </app-input>
      <app-invalid-feedback [formItem]="form.password" validation="required" [submitted]="submitted"
              message="O Campo Password é obrigatório!"></app-invalid-feedback>
      <app-invalid-feedback [formItem]="form.password" validation="minlength"
              message="O Campo Password deve possuir pelo menos 4 digitos!"></app-invalid-feedback>
    </div>
  </div>

  <app-action-bar>
    <app-button class="mr-3" label="{{isEditar ? 'Alterar' : 'Salvar'}}" type="submit" icon="mdi mdi-content-save">
    </app-button>
    <app-button back-button label="Cancelar" (click)="back()" icon="mdi mdi-close" type="button"></app-button>
  </app-action-bar>
</form>
<app-confirmation-modal></app-confirmation-modal>