<div class="row">
  <div class="col-12">
      <app-table [values]="users" [cols]="cols" [hasActions]="true" actionsWidth="20%">
          <ng-template let-user="rowData" let-index="index">
              <app-button btn-sky-blue appTooltip="Visualizar" class="mr-2" icon="mdi mdi-magnify"></app-button>
              <app-button btn-blue appTooltip="Editar" (click)="editar(user.id)" class="mr-2" icon="mdi mdi-pencil"></app-button>
              <app-button btn-red appTooltip="Excluir" (click)="delete(user.id, index)" icon="mdi mdi-trash-can-outline"></app-button>
          </ng-template>
      </app-table>
  </div>
</div>

<app-action-bar>
  <app-button label="Novo" (click)="novo()" class="mr-3" icon="mdi mdi-plus"></app-button>
  <app-button back-button label="Voltar" (click)="back()" icon="mdi mdi-undo-variant"></app-button>
</app-action-bar>