$white: white;

$grey-ligth: #eee;
$grey: #dad9d6;
$grey-hard: #455560;

$grey-blue-ligth: #abc3de;
$grey-blue: #7C9DC1;
$grey-blue-hard: #51759E;

$blue-ligth: #5076ca;
$blue: #3255A4;
$blue-hard: #223a70;

$sky-blue-ligth: #aacff6;
$sky-blue: #6dacef;
$sky-blue-hard: #3089e8;

$red-ligth: #cf7f86;
$red: #bd4d58;
$red-hard: #90363f;

$purple-ligth: #9f65bc;
$purple: #7d439a;
$purple-hard: #572e6b;

$green-neon-ligth: #C8FFA3;
$green-neon: #6dff87;
$green-neon-hard: #5DDF91;

$green-ligth: #99C221;
$green: #99C221;
$green-hard: #6b8817;

$yellow-ligth: #f4ff19;
$yellow: #cad400;
$yellow-hard: #899000;

$orange-ligth: #eab53e;
$orange: #ce9516;
$orange-hard: #91690f;