@import './colors.scss';
/////////////////////////////////////////////////////////////
/////////////////////////////// SPACES /////////////////////
$space-separator: 10px;
/////////////////////////// FONTES ///////////////////////////
$font-family: 'Nunito';
$font-family-icons: "Material Design Icons";
/////////////////////////////////////////////////////////////

/////////////////////////// SIDEBAR ///////////////////////////
$width-sidebar: 270px;
$width-sidebar-minimized: 80px;
$height-li: 45px;
$padding-li: $space-separator;
/////////////////////////////////////////////////////////////

/////////////////////////// HEADER ///////////////////////////
$heigth-header: 45px;
$padding-header: 3px;
/////////////////////////////////////////////////////////////

/////////////////////////// BODY ///////////////////////////
$margin-left-body: $space-separator;
$padding-body: $space-separator;
/////////////////////////////////////////////////////////////