@import '../../../scss/shared/shared.scss';

.header {
    position: fixed;
    height: $heigth-header;
    width: calc(100vw - #{$width-sidebar});
    left: $width-sidebar;
    border-bottom: thin solid $grey;
    display: flex;
    align-items: center;
    padding: $padding-header;
    top: 0;
    background: $white;
    z-index: 1;
    @include commonAnimate();

    .logo {
        display: none;
        width: 12%;
        margin-left: auto;
        @include commonAnimate();
    }

    &.menu-close{
        left: 0;
        width: 100vw;
        @include commonAnimate();
    }

    &.menu-minimized {
        left: $width-sidebar-minimized;
        width: calc(100vw - #{$width-sidebar-minimized});
        @include commonAnimate();
    }
    
    .button-toggle-sidebar{
        display: none;
        margin-left: $margin-left-body;
        align-items: center;

        i{
            color: $blue;
            font-size: 15pt;
            height: 26px;
            cursor: pointer;
            @include commonAnimate();

            &::before {
                padding-top: 1px;
            }

            &:hover{
                color: $blue-hard;
                transform: scaleX(1.3);
                @include commonAnimate();
            }
        }
    }

    .controls {
        margin-left: auto;
        display: inherit;
        color: $blue;

        .user {
            display: inherit;
            align-items: center;
            font-size: 10pt;

            i {
                font-size: 15pt;
                margin: $space-separator;
                cursor: pointer;

                &:hover {
                    color: $blue-hard;
                }
            }

            span {
                margin-right: $space-separator;
            }
        }

        i {
            font-size: 15pt;
            margin: $space-separator;

            cursor: pointer;

            &:hover {
                color: $blue-hard;
            }
        }

        .mdi-bell-outline {
            font-size: 14pt;
        }
    }
}

@media screen and (max-width: 1024px) {
    .header {
        left: 0;
        width: 100vw;

        .logo {
            display: block;
            width: 130px;
        }

        .button-toggle-sidebar {
            display: block;
        }
    }
}

@media screen and (max-width: 720px) {
    .header {
        .controls {
            .user {
                display: none;
            }
        }
    }
}